.DS_Store
.idea/
.pytest_cache/
*.egg-info/
.RData
.Rhistory
.nextflow*
.nextflow/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.streamlit/
dashboard/drugmr.hyper
dashboard/drugmr_dashboard_template.twb
dat/
ref/
analysis/*
!analysis/pipeline_dag.py
!analysis/pipeline_dag.svg
containers/
jupyter/
scripts/
plots/
logs/
work/
outputs/
results/
runs/
synthesis/
