.DS_Store
.nextflow*
.nextflow/
__pycache__/
.ipynb_checkpoints/
.streamlit/
dashboard/drugmr.hyper
dashboard/drugmr_dashboard_template.twb
dat/
ref/
analysis/
containers/
jupyter/
tests/
plots/
logs/
work/
outputs/