/*
nextflow config for drugmr pipeline!!
*/

// work -> temp storage for stuff outside nf workflow thus...
workDir = './tmp/nf-work'

params {
    image_name = 'ghcr.io/guillermocomesanacimadevila/drugmr:latest'
    out_dir = 'results'
    inputs = null   
    qtl_manifest = 'assets/qtl_manifest.csv'
}

// will slap this onto profiles at a later stage
docker {
    enabled = true
}