.wy-side-nav-search {
    background-color: #24b064;
}

.wy-nav-top {
    background-color: #24b064;
}

.wy-menu-vertical a:hover {
    background-color: #24b064;
}

.wy-menu-vertical li.current a {
    border-right: 3px solid #24b064;
}
