/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    drugMR Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode, all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = 1
    memory = 4.GB
    time   = 2.h

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143, 247] ? 'retry' : 'finish' }
    maxRetries    = 2

    withLabel: process_single {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel: process_low {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    withLabel: process_medium {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel: process_massive {
        cpus   = 8
        memory = { 16.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel: process_long {
        time = { 12.h * task.attempt }
    }
}
